@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Noto+Serif');
/* font-family: 'Noto Serif', serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

$color-blueberry: #6B7A8F;
$color-apricot: #F7882F;
$color-citrus: #F7C331;
$color-apple-core: #DCC7AA;
$color-oxblood: #76323F;
$color-blackboard: #565656;

$body-color: $color-apple-core;
$text-color: $color-blackboard;

body {
    background-color: $body-color;
    font-family: 'Noto Sans KR', sans-serif;
    color: $text-color;
    opacity: 0;
    animation: 750ms ease-in 0s 1 normal forwards fadeIn;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
        /* border: 1px solid black; */
        /* width: 50%; */
        display: flex;
        flex-direction: column;
        text-align: center;
        align-self: center;
        justify-self: center;
    }
    img {
        align-self:  center;
        justify-self: center;
    }
    h1, h2 {
        margin: 5px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 700px) {
    body {
        flex-direction: row;
        div {
            width: 50%;
        }
    }

}