@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Noto+Serif');
/* font-family: 'Noto Serif', serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

$color-blueberry: #6B7A8F;
$color-apricot: #F7882F;
$color-citrus: #F7C331;
$color-apple-core: #DCC7AA;
$color-oxblood: #76323F;
$color-blackboard: #565656;

$color-icons: $color-citrus;
$color-background: $color-blueberry;
$color-arrows: $color-apple-core;

body {
    background-color: $color-background;
}

nav {
    margin: auto;
    width: 60%;
    display: grid;
    text-align: center;
    grid-template-columns: [home] 1fr [projects] 1fr [about] 1fr [contact] 1fr;
    grid-template-rows: auto [visible-line] 200px [hidden-line] 100px auto;
    *{
         /* border: 1px solid red;  */
    }
}

@keyframes rise {
    0%   { bottom: 0px; }
    10%  { bottom: 10px; }
    20%  { bottom: 20px; }
    30%  { bottom: 30px; }
    40%  { bottom: 40px; }
    50%  { bottom: 50px; }
    60%  { bottom: 60px; }
    70%  { bottom: 70px; }
    80%  { bottom: 80px; }
    90%  { bottom: 90px; }
    100% { bottom: 100px; }
}

#pointer-home, #pointer-projects, #pointer-about, #pointer-contact {
    /* border: 1px solid blue; */
    position: relative;
}

.pointer {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0px;
    left: 0;
    background-color: $color-arrows;
    z-index: -1;
    height: 40px;
    width: 40px;
    display: block;
    position: absolute;
    transform: rotate(45deg); 
    animation-name: rise;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    &.visible {
        animation-direction: forward;
        /* grid-row-start: visible-line; */
    }
    &.hidden {
        animation-direction: reverse;
        /* grid-row-start: hidden-line; */
    }
}

#pointer-home {
    grid-column-start: home;
}

#pointer-projects {
    grid-column-start: projects;
}

#pointer-about {
    grid-column-start: about;
}

#pointer-contact {
    grid-column-start: contact;
}

main {
    margin-top: -250px;
    display: flex;
    justify-content: center;
}

iframe {
    height: fit-content;
    width: 100%;
    overflow: hidden;
    border: 0;
}

a { 
    color: $color-icons;
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    span {
       display: none; 
    }
}

a:hover {
    font-size: 1.6em;
    transition: font-size 500ms;
    transition-timing-function: ease-in-out;
}

@media (min-width:1100px) {
    a { 
        font-size: 1.5em;
        span {
            display: inline;
        }
    }
    iframe {
        width: 70%;
    }
}

@media (min-width:1600px) {
    a { 
        font-size: 2em
    }
}