#page {
    margin: auto;
    background-color: white;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    div {
        border-style: dotted;
    }
}

