@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Noto+Serif');
/* font-family: 'Noto Serif', serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

$color-blueberry: #6B7A8F;
$color-apricot: #F7882F;
$color-citrus: #F7C331;
$color-apple-core: #DCC7AA;
$color-oxblood: #76323F;
$color-blackboard: #565656;

$body-color: $color-apple-core;
$text-color: $color-blackboard;

body {
    background-color: $body-color;
    font-family: 'Noto Sans KR', sans-serif;
    color: $text-color;
    height: 200px;
    opacity: 0;
    animation: 750ms ease-in 0s 1 normal forwards fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#page {
    margin: auto;
    background-color: white;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    div {
        border-style: dotted;
    }
}

